@model List<Product>

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <a asp-area="admin" asp-controller="dashboard" asp-action="index" class="btn btn-primary mb-4">Go back</a>
            <a asp-area="admin" asp-controller="product" asp-action="create" class="btn btn-success mb-4">Create new product</a>
        </div>
        <h4 class="card-title">Products</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Image
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Settings
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Product product in Model)
                    {
                        <tr>
                            <td class="py-1">
                                <img src="~/assets/uploads/products/@product.ProductImages?[0].Image.Name" alt="image" />
                            </td>
                            <td>
                                @product.Title
                            </td>
                            <td>
                                $ @product.Price
                            </td>
                            <td>
                                @product.Category.Name
                            </td>
                            <td>
                                <a asp-area="admin" asp-controller="product" asp-action="details" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
                                <a asp-area="admin" asp-controller="product" asp-action="update" asp-route-id="@product.Id" class="btn btn-warning">Update</a>
                                <a asp-area="admin" asp-controller="product" asp-action="delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>